*{
    margin: 0;
    padding: 0;
}
#box div{
    width: 32%;
    height: 300px;
    margin: 0.44%;
    display: inline-block;
}

.one{
    background-color:#ff8989 ;
}

.two{
    background-color: #88f7ce;
}

.three{
    background-color: #e29df2;
}

@media screen and (max-width:600px) {
    #box div{
        display: inline-block;
        margin: 0;
        width: 100%;
        height: 300px;
    }
}