body{
    background-color: rgb(31, 29, 29);
}
#div1 {
  height: 100px;
  width: 100px;
  position: relative;
  top: 100px;
  left: 100px;
  background-color: aqua;
  transition: 1s ease-in-out 1s ;
}

#div1:hover{
    /* transform: rotate(1000deg); */
    border-radius: 50%;
    translate: 100px;
    rotate: 1000deg;
    
}
@keyframes changeShape {
    0%   { transform: translateY(50px); }
    10%  { transform: translateY(100px); }
    20%  { transform: translateY(50px); }
    30%  { transform: translateY(0px); }
    40%  { transform: translateY(-50px); }
    50%  { transform: translateY(0px); }
    60%  { transform: translateY(50px); }
    70%  { transform: translateY(0px); }
    80%  { transform: translateY(-50px); }
    90%  { transform: translateY(0px); }
    100% { transform: translateY(50px); }
}


#div2{
    height: 100px;
    width: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    background-color: red;

    animation: changeShape 2s linear 1s alternate ;
}
