h1{
    font-family: 'Courier New', Courier, monospace;
}
#one{
    color: blue;
}

#two{
    background-color: red;
}

#four{
    background-color: green;
    color: red;
}

p{
    /* border-color: black;
    border-width: 5px 2px; */
    border-style: dotted dashed solid double;
    /* border-width: thick; */
    border-width : 5px 2px 10px 20px;
}

.line-height{
    line-height :3;
}

span{
    letter-spacing: 3px;
}